/* SignuIN.css */

.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* margin-top: 10vmin; */
  }

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #d59e28; /* Add the border */
    border-radius: 8px;
    padding: 20px;
    margin-top: 10vmin;
    background-color:  #333;
  }
  
  .signup-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #d59e28;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    color: #d59e28;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .radio-group {
    display: flex;
  }
  
  .radio-group label {
    margin-right: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #d59e28;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .signup-form {
      max-width: 100%;
      padding: 30px;
      margin-top: 35vmin;
    }
  
    .radio-group label {
      margin-right: 10px;
    }
  
    button {
      width: 100%;
    }
  }
  