.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 12vmin;
  background-color: #282c34;
 /* max-width: '100%'; */
}
.App-text {
  font-size: xx-large;
  /* align-self: center;
  align-items: center;
  justify-content: flex-end; */
}
.App-text1 {
  font-size: large;
 color: aliceblue;
 margin-top: 8vmin;
 /* margin-left: 12vmin; */
}
.App-sigin {
  background-color: #fbae61;
  margin-top: 5vmin;
  height: 6vmin;
  width: 6vmax;
  border-radius: 3vb;
  color: rgb(16, 67, 111);
  border-color: #282c34;
  border-width: 0vb;
  font-weight: bold;
  cursor: pointer;
}
.App-sigUp {
  background-color: #f5f1ed;
  margin-top: 5vmin;
  height: 6vmin;
  width: 6vmax;
  border-radius: 3vb;
  color: rgb(16, 67, 111);
  border-color: #282c34;
  border-width: 0vb;
  font-weight: bold;
  cursor: pointer;
}


.section1 {
  background-color: #342e28;
  
}

.App-logo {
  height: 10vmin;
  width: 100;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* gap: 10px; */
  /* background-color: #2196F3; */
  /* padding: 10px; */
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
