/* Header.css */

/* Reset default styles and apply a global box-sizing rule */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Styles for the header container */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 10vmin;
    /* To make sure the header stays on top of other content */
  }
  
  /* Rest of the styles remain the same... */
  
  
  /* Styles for the logo and app name section */
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  
  .app-name {
    font-size: 18px;
    font-weight: bold;
    color: #d59e28;
  }
  
  /* Styles for the search bar section */
  .search-section {
    display: flex;
    flex-grow: 1;
    justify-content: center;
   
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #d59e28;
    border-radius: 4px;
    padding: 4px;
    width: 500px;
  }
  
  .search-bar input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: #fff;
    outline: none;
  }
  
  .search-bar button {
    background-color: #d59e28;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 4px;
  }
  
  /* Styles for the authentication section */
  .auth-section {
    display: flex;
    align-items: center;
  }
  
  .auth-section button {
    background-color: #d59e28;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .logo-section {
      margin-bottom: 10px;
    }
  
    .search-section {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .search-bar {
      width: 100%;
    }
  
    .auth-section {
      margin-top: 10px;
    }
  }
  